.loading-indicator, .progress-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.loading-indicator {
    padding: 0;
    flex-basis: 5%;
    margin: 0 0.5em 0 0;
}
.progress-container {
    margin: 0.5em 0;
    flex-direction: column;
    flex: 1;
}
.progress-container .progress {
    width: 100%;
}

.status-container {
    width: auto;
    display: flex;
    align-items: center;
    margin: 0 auto;
    font-size: 0.88rem;
    color: #595959;
    flex-wrap: nowrap;
    white-space: nowrap;
}

